
@{
    ViewBag.Title = "Yonetmelikler";
    Layout = "~/Views/Shared/DuzYaziLayout.cshtml";
    ViewBag.Baslik = "Yönetmelikler";
    ViewBag.Sekme = "Hukuk";
}

<link href="~/assets/css/style.css" rel="stylesheet" />
<!--Page Header End-->
<!--News Details Start-->
<section class="news-details">
    <div class="container">
        <div class="row">
            @Html.Action("SidebarHukuk", "Hukuk")
            <div class="col-xl-7 col-lg-6">
                <div class="news-details__left">
                    <div class="news-details__content">
                        <h3 class="news-details__title">Yönetmelikler</h3>
                        <ul class="welcome-one__list list-unstyled-duy">
                            @foreach (var m in Model)
                            {
                                <li><a href="@m.Link" target="_blank" style="color: #88858e"><span class="icon-confirmation"></span><u>@m.BaslikTR</u></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--News Details End-->
