
@{
    Layout = null;
}
<style>
    @@media only screen and (max-width: 1025px) {
        .sidebar {
            display: none;
        }
    }
</style>
<!DOCTYPE html>

<div class="col-md-3" style=" padding-right: 35px; ">
    <div class="sidebar">
        <div class="sidebar__single sidebar__category">
            <h3 class="sidebar__title">Toleyis</h3>
            <ul class="sidebar__category-list list-unstyled">
                <li><a href="/ToleyisEN/Tarihce">History <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/GenelYonetim">General Management <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/GenelMerkez">General Center <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/SubeDetay">Suboffices <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/BolgeTemsilcilik">Regional Representatives <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/IlTemsilcilik">Provincial Representations <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/Orgutlu">Organized Workplaces <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/Calisanlar">Our employees <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/Kurulusİlkeleri">Founding Principles <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/CalismaSekli">How it Works <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/FaaliyetAlanlari">Areas of Activity <span class="fa fa-angle-right"></span></a></li>
                <li><a href="/ToleyisEN/Uyesayi">Number of Members <span class="fa fa-angle-right"></span></a></li>
            </ul>            
        </div>
    </div>
</div>
