
@{
    ViewBag.Title = "IlTemsilcilik";
    Layout = "~/Views/Shared/DuzYaziLayout.cshtml";
    ViewBag.Baslik = "İl Temsilcilikleri";
    ViewBag.Sekme = "Toleyis";
}

<link href="~/assets/css/style.css" rel="stylesheet" />
<!--Page Header End-->
<!--News Details Start-->
<section class="news-details">
    <div class="container">
        <div class="row">
            @Html.Action("Sidebar", "AnaSayfa")
            <div class="il-isimleri" style="top:20px; left:0px;"></div>

            <div class="col-xl-9 col-lg-8">
                @Html.Action("Index", "Harita")
                <br />
                <section class="dropdown-sube">
                    <div class="container">
                        <div class="row" style=" place-content: center; ">
                            <div class="dropdown-sube-baslik" style=" margin-right: 33px; ">
                                <span>İL TEMSİLCİLERİ:</span>
                            </div>
                            <div class="main-dropdown">
                                <div class="dropdown">
                                    @Html.DropDownList("Iller", null, "-Seçiniz-", new { @class = "form-control dropdown", onchange = "GetUserDetails(this);", @id = "drpiller", @name = "drpiller" })
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--İLETİŞİM DETAY-->
                <div id="dvUserDetails">

                </div>

            </div>
        </div>
    </div>
</section>
<!--News Details End-->

<!--dropdowna göre getirme scripti-->
<script type="text/javascript">
    function GetUserDetails(obj) {
        var selectedUser = $(obj).val();
        var urlToHit = '/Toleyis/TemsilcilikIlSec';
        $.ajax({
            url: urlToHit,
            cache: false,
            type: "POST",
            data: { id: selectedUser },
            success: function (data) {
                $("#dvUserDetails").html(data);
            },
            error: function () {
                alert("failed");
            }
        });

    }
</script>